%tr
  %td= event_row.name
  %td= event_row.description
  %td=l event_row.start_at
  %td= event_row.end_at.present? ? l(event_row.end_at) : 'n/a'
  %td= event_row.attending?(current_user) ? 'attending' : link_to('attend', event_attendances_path(event_row), data: {method: :post})
