.DS_Store
._*
.bundle
.rvmrc
.rspec-local
log/*.log
log/*.pid
db/*.sqlite3
db/schema.rb
db/development_structure.sql
tmp/**/*
tmp/*
config/database.yml
config/env.rb
config/s3.yml
config/newrelic.yml
vendor/cache
lock
public/assets
coverage
Guardfile
