header.bar.bar-nav
  h1.title Ruby sentiments #1

.content
  .card
    ul.table-view
      li.table-view-cell.media(ng-repeat="event in events")
        a(href="#")
          img.media-object.pull-left(src="http://placehold.it/42x42")
          .media-body
            {{event.name}}
            p {{event.description}}
