@import 'colors.css.scss';

label {
  display: inline-block;
  width: 100px;
}
textarea {
  height: 100px;
  width: 300px;
}
#save_cancel {
  margin-top: 40px;
}
table {
  width: 100%;
  th {
    text-align: left;
  }
  td {
    padding: 10px;
  }
  tr.attending_event td {
    background-color: $light_grey;
  }
}
