<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Scheduled on</th>
    <th>Beginning at</th>
    <th>Ending at</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'event', collection: events %>
  </tbody>
</table>